<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491146343462-3fp22r38lqg9qgvitkscms80kqs070re.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491146343462-3fp22r38lqg9qgvitkscms80kqs070re</string>
	<key>API_KEY</key>
	<string>AIzaSyAMogQQ7g6YaqxQ_JVY-WC7ZZCVHsGEHFY</string>
	<key>GCM_SENDER_ID</key>
	<string>491146343462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.broadcasthq.BroadcastHQ</string>
	<key>PROJECT_ID</key>
	<string>valorlive-98b88</string>
	<key>STORAGE_BUCKET</key>
	<string>valorlive-98b88.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491146343462:ios:76cb484ce877f271da62e7</string>
</dict>
</plist>